In [1]:
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import matplotlib.ticker as mticker
import numpy as np

# SQLAlchemy
from sqlalchemy import create_engine

In [2]:
# As you examine the data, you are overcome with a creeping suspicion that the dataset is fake. You surmise that your 
# boss handed you spurious data in order to test the data engineering skills of a new employee. To confirm your hunch,
# you decide to take the following steps to generate a visualization of the data, with which you will confront your
# boss:
# Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all,
    # trying to prove your technical mettle.) This step may require some research. Feel free to use the code below
    # to get started. Be sure to make any necessary modifications for your username, password, host, port, and
    # database name:
        # ```sql
        # from sqlalchemy import create_engine
        # engine = create_engine('postgresql://localhost:5432/<your_db_name>')
        # connection = engine.connect()
        # ```
        # * Consult [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/core/engines.html#postgresql)
            # for more information.
    # * If using a password, do not upload your password to your GitHub repository.
        # See [https://www.youtube.com/watch?v=2uaTPmNvH0I](https://www.youtube.com/watch?v=2uaTPmNvH0I) and
        # [https://help.github.com/en/github/using-git/ignoring-files]
        # (https://help.github.com/en/github/using-git/ignoring-files) for more information.
    # Correctly queries tables from the postgres database into pandas dataframes.

In [3]:
# sql from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/Employee_db')
connection = engine.connect()

In [4]:
# Correctly queries tables from the postgres database into pandas dataframes.
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)
titles_df = pd.read_sql("SELECT * FROM titles", connection)
employees_df = pd.read_sql("SELECT * FROM employees", connection)

In [5]:
# Replaces null values
salaries_df = salaries_df.dropna(how = 'any', axis = 0)
titles_df = titles_df.dropna(how = 'any', axis = 0)
employees_df = employees_df.dropna(how = 'any', axis = 0)

In [48]:
# Create a histogram to visualize the most common salary ranges for employees.
    # Plots have titles and axes labels.

salaries_quantile_df = pd.DataFrame({"Salary Ranges" : ["30 to 50k", "50 to 70k", "70 to 90k", "90 to 110k", "110 to 130k"]})
bins = [30000, 50000, 70000, 90000, 110000, 130000]
labels = ["30 to 50k", "50 to 70k", "70 to 90k", "90 to 110k", "110 to 130k"]

salaries_quantile_df = salaries_df.groupby(pd.cut(salaries_df['salary'], bins=bins, labels=labels)).size().reset_index(name = 'Salary Count')

salaries_quantile_df

        salary  Salary Count
0    30 to 50k        158472
1    50 to 70k         99322
2    70 to 90k         36658
3   90 to 110k          5353
4  110 to 130k           219

In [49]:
plt.hist(salaries_quantile_df['salary'], salaries_quantile_df['Salary Count'], color='r', alpha=0.5, align="mid")
plt.title("Histogram of the Number of Employees in Each Salary Range")
plt.xlabel("Salary Ranges")
plt.ylabel("Number of Employees")
plt.show()

KeyError: 0

In [50]:
# Create a bar chart of average salary by title.
    # Generates an average salary bar chart from a pandas dataframe.
    # Plots have titles and axes labels.
employees_df.rename(columns = {'emp_title_id':'title_id'}, inplace = True)
employees_df

titles_employees_df = pd.merge(employees_df, titles_df, on = 'title_id', how = 'outer')

titles_employees_salaries_df = pd.merge(salaries_df, titles_employees_df, on = 'emp_no', how = 'outer')
titles_employees_salaries_df

salary_groupby_title_df = titles_employees_salaries_df.groupby(['title', 'salary']).sum().reset_index().groupby('title').mean()

salary_groupby_title_df

                          salary
title
Assistant Engineer  53949.468277
Engineer            55436.044890
Manager             55374.722222
Senior Engineer     56731.438519
Senior Staff        64763.483716
Staff               66525.680763
Technique Leader    54475.821340

In [ ]:
plt.bar(salary_groupby_title_df['title'], salary_groupby_title_df['salary'])
# plt.title("Bar Chart of the Average Salary by Title")
# plt.xlabel("Title")
# plt.ylabel("Average Salary ($)")
plt.show()