In [1]:
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import matplotlib.ticker as mticker

# SQLAlchemy
from sqlalchemy import create_engine

In [2]:
# As you examine the data, you are overcome with a creeping suspicion that the dataset is fake. You surmise that your 
# boss handed you spurious data in order to test the data engineering skills of a new employee. To confirm your hunch,
# you decide to take the following steps to generate a visualization of the data, with which you will confront your
# boss:
# Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all,
    # trying to prove your technical mettle.) This step may require some research. Feel free to use the code below
    # to get started. Be sure to make any necessary modifications for your username, password, host, port, and
    # database name:
        # ```sql
        # from sqlalchemy import create_engine
        # engine = create_engine('postgresql://localhost:5432/<your_db_name>')
        # connection = engine.connect()
        # ```
        # * Consult [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/core/engines.html#postgresql)
            # for more information.
    # * If using a password, do not upload your password to your GitHub repository.
        # See [https://www.youtube.com/watch?v=2uaTPmNvH0I](https://www.youtube.com/watch?v=2uaTPmNvH0I) and
        # [https://help.github.com/en/github/using-git/ignoring-files]
        # (https://help.github.com/en/github/using-git/ignoring-files) for more information.
    # Correctly queries tables from the postgres database into pandas dataframes.

In [3]:
# sql from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/Employee_db')
connection = engine.connect()

In [4]:
# Correctly queries tables from the postgres database into pandas dataframes.
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)

salaries_df

        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]

In [ ]:
# Replaces null values
salaries_df = salaries_df.dropna(how='any', axis=0)

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
    # Plots have titles and axes labels.
plt.hist(salaries_df['emp_no'], salaries_df['salary'])

In [ ]:
# Create a bar chart of average salary by title.
    # Generates an average salary bar chart from a pandas dataframe.
    # Plots have titles and axes labels.
plt.bar(x_axis, users, color='r', alpha=0.5, align="center")